<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:cache="http://www.springframework.org/schema/cache" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/aop
  	   http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/cache  
       http://www.springframework.org/schema/cache/spring-cache-3.2.xsd">
       
    <context:component-scan base-package="com.gtzhou.wechat">
    	<!-- <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  -->
    </context:component-scan>
    
     <!-- 开启注解 -->
	<mvc:annotation-driven/>
	
	<aop:aspectj-autoproxy/>
	
	
	<!-- <mvc:interceptors>  
       <bean class="com.gtzhou.sp.common.ProcessInterceptor"></bean>  
   </mvc:interceptors> -->
	
	<!-- DefaultAnnotationHandlerMapping使用  默认 的handlerMapping-->
	<!-- <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/> -->
   
   <!-- AnnotationMethodHandlerAdapter 默认的adapter-->
   <!-- <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/> -->
   	
   	<!-- 主要应用在http远程调用服务上 -->
   <!--  <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/> -->
   	
   	<!-- 扫描基包 -->
    <!-- <context:component-scan base-package="com.gtzhou"/> -->
        
    <!-- 静态资源映射 -->
    <!-- <mvc:resources mapping="/html/**" location="/html/"/> -->
    
    
	
	<!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
	</bean>
	
	 <!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
    <!-- <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:order="1">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html"/>
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean> -->
    
    
	 <!-- <mvc:default-servlet-handler/> -->
    
	<!-- 开启事务注解 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/> -->
</beans>
